[user]
	name = Nathanael Gentry
	email = nathanael.gentrydb8@gmail.com
	signingkey = AEF0884E3C005C5B
[commit]
	gpgsign = true
[gpg]
	program = gpg2
[core]
	excludesfile = ~/.gitignore
[credential]
  helper = libsecret
[url "git@github.com:"]
	insteadOf = https://github.com/
